div.results {
  position:absolute;
  /*width:250px;*/
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
  height: 10em;
  overflow:auto;
}
div.results ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.results ul li.selected {
  background-color: #ffb;
}
div.results ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}

span.name, span.address, span.zipcode, span.city {
  display: block;
  font-size: 0.9em;
}
span.name {
  font-weight: bold;
}
span.name img {
    with: 30px;
    height: 30px;
}