body {
	background-color: #C8D0D4;
}

#login {
	width: 489px;
	position: relative;
	margin: 0 auto;
	text-align: left;
	clear: left;
}
#login form {
	background: url(../images/login/login_input_bg.png) no-repeat;
	height: 268px;
	padding: 0 20px 0 53px;
}

#login form span { display: none; }
#username {
	width: 374px;
	height: 53px;
	background: url(../images/login/login_fields.gif) no-repeat;
	float: left;
	margin-top: 20px;
}

#password {
	width: 374px;
	height: 54px;
	background: url(../images/login/login_fields.gif) no-repeat 0 -53px;
	float: left;
	margin-bottom: 15px;
}

#login form label input {
	border: 0;
	background: transparent;
	height: 23px;
	float: right;
	margin: 14px 20px 0 0;
	width: 227px;
	padding-top: 4px;
	font-size: 0.95em;
	z-index: 1000;
}

/*#login form #username:hover,*/
#username.active {
	background: url(../images/login/login_fields.gif) no-repeat 0 -107px;
}

/*#login form #password:hover,*/
#password.active {
	background: url(../images/login/login_fields.gif) no-repeat 0 -160px;
}

#login form .button {
	float: right;
	margin-right: 54px;
	background: url(../images/login/login_button.gif) no-repeat;
	border: 0;
	width: 66px;
	height: 33px;
	font-size: 0.90em;
}

#messages {
	float: left;
	height: 29px;
	overflow:hidden;
	width: 270px;
}
#ajax_load {
	background: url(../images/login/login_ani.gif) no-repeat left center;
}

#ajax_error {
	background: url(../images/login/login_error.gif) no-repeat left center;
}

#ajax_accept {
	background: url(../images/login/login_accept.gif) no-repeat left center;
}

#login form #messages div {
	float: left;
	font-size: 0.8em;
	color: #fff;
	padding-left: 20px;
	margin-left: 17px;
	margin-top: 7px;
}
